version: '3'

services:
  docker-mysql:
    platform: linux/amd64
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=studylink
    ports:
      - 3307:3306
    healthcheck:
      test: mysqladmin ping -h 127.0.0.1 -u root --password=root
      start_period: 5s
      interval: 5s
      timeout: 5s
      retries: 55

  app:
    image: studylink_app:latest
    ports:
       - 8080:8080
    environment:  
      SPRING_DATASOURCE_URL: jdbc:mysql://docker-mysql:3306/studylink?autoReconnect=true&useSSL=false
    
    depends_on:
      docker-mysql:
        condition: service_healthy